.search-container {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    justify-content: center;
}

.search-bar {
    appearance: none;
    outline: none !important;
    height: 24px;
    border: 1px solid var(--vscode-input-border, transparent) !important;
    font-size: inherit !important;
    font-family: inherit !important;
    color: inherit !important;
    padding: 3px 0 3px 6px !important;
}
