body {
    background: var(--vscode-sideBar-background) !important;
}

#item-list {
    padding: 1rem 0rem 15% 0rem
}

.container {
    height: 100vh;
}

.content {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.footer {
    padding: 0 7px;
    display: flex;
    -moz-column-gap: 4px;
    column-gap: 4px;
    border-top: 1px solid var(--vscode-panel-border);
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    background: var(--vscode-sideBar-background);
}

.footer-item {
    height: 100%;
    padding: 3px 6px;
    display: grid;
    grid-auto-flow: column;
    -moz-column-gap: 4px;
    column-gap: 4px;
    align-items: center;
    cursor: pointer;
    font-family: inherit;
}

.footer-item-content {
    height: 100%;
    padding: 3px 6px;
    display: grid;
    grid-auto-flow: column;
    -moz-column-gap: 4px;
    column-gap: 4px;
    align-items: center;
    cursor: pointer;
    color: var(--vscode-descriptionForeground);
}

.on {
    color: var(--vscode-charts-green);
}

.off {
    color: var(--vscode-charts-red);
}

.title {
    margin-bottom: 0.25rem;
    padding: 1rem 0.75rem 0;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

.options {
    display: none;
    gap: 5px;
    position: absolute;
    right: 0;
}

.node-item {
    position: relative;
    margin: 1px;
    padding: 0 0.75rem;
    line-height: 18px;
}

.node-item-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    gap: 16px;
    padding: 0px 10px;
}

.version {
    display: block;
    flex-grow: 1;
    overflow: hidden;
    padding: 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.show {
    display: flex !important;
}

.hide {
    display: none;
}

.current {
    display: none;
    color: var(--vscode-gitDecoration-untrackedResourceForeground);
}

.remote {
    color: var(--vscode-list-highlightForeground);
}

.lts {
    color: var(--vscode-inputValidation-infoBorder);
}

.old-stable {
    color: var(--vscode-inputValidation-warningBorder);
}

.old-unstable {
    color: var(--vscode-inputValidation-errorBorder);
}

.node-item:hover {
    background-color: var(--vscode-list-hoverBackground);

    .options {
        display: flex;
    }

    .tag {
        display: none;
    }

    .show {
        display: none !important;
    }
}

.footer-item:hover {
    background: var(--vscode-toolbar-hoverBackground);
}

.footer-text {
    font-weight: 900;
}

.heart {
    color: transparent !important;
}